## Data Science tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
-  List popular languages for Data Science
-  List commonly used libraries for Data Science
-  Development Environment Opensource Tools used in Data Science
 -  Arithmetic expressions in Python

 ### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

### Some of the commonly used libraries used by Data Scientists include:`

1. Python libraries
2. scala Libraries
3. R libraries

### Development Environment Opensource Tools used in Data Science:

|Data Sicence Tools|
|:-----------------:|
| Jupyter Lab |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
### This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200
hours= minutes/60
print(hours)

3.3333333333333335

## Author
Chukwu C. Victory.